<div class="flex flex-wrap items-center  gap-6 p-4">
  <!-- Calendario Mes Actual -->
  <div class="flex max-w-full flex-1 flex-col gap-0.5">
    <div class="flex items-center p-1 justify-between">
      <button (click)="mesAnterior()" class="p-2 rounded hover:bg-gray-200">
        <!-- SVG anterior -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="currentColor"
          viewBox="0 0 256 256"
        >
          <path
            d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"
          />
        </svg>
      </button>
      <span class="text-lg font-bold capitalize flex-1 text-center">
        {{ nombreMes(mesActual, anoActual) }} {{ anoActual }}
      </span>
      <div class="w-8"></div>
    </div>
    <div class="grid grid-cols-7 min-h-full">
      @for (d of ['L','M','M','J','V','S','D']; track $index) {
      <div class="text-center font-bold text-gray-700 py-2">{{ d }}</div>
      } @for (item of [].constructor(getPrimerDiaSemana(mesActual, anoActual));
      track $index) {
      <div></div>
      } @for (dia of getDiasDelMes(mesActual, anoActual); track $index) {
      <button
        class="h-10 w-full font-medium"
        [ngClass]="getDiaClase(mesActual, anoActual, dia)"
        (click)="seleccionarDia(mesActual, anoActual, dia)"
      >
        {{ dia }}
      </button>
      } @for (item of getCeldasFinales(mesActual, anoActual); track $index) {
      <div></div>
      }
    </div>
  </div>

  <!-- Calendario Mes Siguiente -->
  <div class="flex max-w-full flex-1 flex-col gap-0.5">
    <div class="flex items-center p-1 justify-between">
      <div class="w-8"></div>
      <span class="text-lg font-bold capitalize flex-1 text-center">
        {{ nombreMes(mesSiguiente, anoSiguiente) }} {{ anoSiguiente }}
      </span>
      <button (click)="mesSiguienteFn()" class="p-2 rounded hover:bg-gray-200">
        <!-- SVG siguiente -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="currentColor"
          viewBox="0 0 256 256"
        >
          <path
            d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
          />
        </svg>
      </button>
    </div>
    <div class="grid grid-cols-7 min-h-full">
      @for (d of ['L','M','M','J','V','S','D']; track $index) {
      <div class="text-center font-bold text-gray-700 py-2">{{ d }}</div>
      } @for (item of [].constructor(getPrimerDiaSemana(mesSiguiente,
      anoSiguiente)); track $index) {
      <div></div>
      } @for (dia of getDiasDelMes(mesSiguiente, anoSiguiente); track $index) {
      <button
        class="h-10 w-full font-medium"
        [ngClass]="getDiaClase(mesSiguiente, anoSiguiente, dia)"
        (click)="seleccionarDia(mesSiguiente, anoSiguiente, dia)"
      >
        {{ dia }}
      </button>
      } @for (item of getCeldasFinales(mesSiguiente, anoSiguiente); track
      $index) {
      <div></div>
      }
    </div>
  </div>
</div>
